.popular-car {
    position: relative;
}

.popular-car img {
    min-height: 15vw;
    width: 100%;
}

.popular-car > div {
    height: 15vw;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    width: 100%
}
.popular-car > div .col-xs-6:first-child{
    margin-top: 2vw;
    font-size: 8vw;
}
.popular-car > div .col-xs-6:last-child{
    margin-top: 2vw;
    font-size: 4vw;
}
.popular-car > div .col-xs-6:last-child div:first-child span:last-child{
     text-decoration: line-through;
}
.popular-car > div .col-xs-6:last-child div:last-child{
    color: orangered
}